{% extends 'base.html'%}

{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}   
</head>
<body>
    {% block content %}
    <!-- <div class="navbar navbar-default bg-light">
        <a href="#">
            <img class="mx-4" src="" height="50px" width="50px"> 
        </a>
        <h2 class="navbar-nav mx-3">
            <a href="#" style="text-decoration:none; color:black; font-size:x-large; font-weight:bolder;">
                NewsFlash
            </a>
        </h2>
    </div> -->
    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="search for a movie" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>
    <!-- Popular news section  -->
    <h3> Popular News</h3>
    <ul>
        {% for popular_movies in current_news %}
        <li>{{ popular_movies.id}}</li>
        {% endfor %}
    </ul>
    {% endblock%}
</body>
</html>
