{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Newsflash </title>
    {% endif %}   
</head>
<body>
    {% block content %}
    <!-- <div class="navbar navbar-default bg-light">
        <a href="#">
            <img class="mx-4" src="" height="50px" width="50px"> 
        </a>
        <h2 class="navbar-nav mx-3">
            <a href="#" style="text-decoration:none; color:black; font-size:x-large; font-weight:bolder;">
                NewsFlash
            </a>
        </h2>
    </div> -->
    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="enter search topic for news" class="form-control ">
            <div class="my-2"></div>
            <input type="submit" value="Submit" class="btn btn-success my-2">
        </form>
    </div>
    <!-- Popular news section  -->
    <div class="container">
        <div style="display:flex;">
            <div class="row col-sm-12 col-md-12 col-lg-12 card" style="float:none;">
                <h2 class="text-center">Most Popular News</h2>
                <hr>
                {% for news_items in current_news %}
                <div style="display:flex; margin:2rem;" class="my-3">
                    <img src= '{{ news_items.urlToImage }}' height="200" width="200">
                    <div style="margin-left:2rem; margin-right:2rem;">
                        <h4>{{ news_items.description}}</h4>
                        <p>Author: {{news_items.author}}</p>
                        <button class="btn btn-primary text-center"><a href='{{news_items.url}}' style="text-decoration:none; align-self:center; color:white;">Visit site</a></button>
                    </div>
                    <br>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>
    {% endblock%}
</body>
</html>
