

{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}   
</head>
<body>
    {% block content %}
    <div class="container">
        <form>
            <input type="text" name="news_query" placeholder="search for a movie" class="form-control">
            <input type="submit" value="Submit" class="btn btn-default">
        </form>
    </div>
    <!-- Popular news section  -->
    <h3> Popular News</h3>
    <ul>
        {% for popular_movies in current_news %}
        <li>{{ popular_movies.id}}</li>
        {% endfor %}
    </ul>
    {% endblock%}
</body>
</html>
