<div class="navbar navbar-default bg-dark" style="background-color:rgb(0, 0, 0); display:flex !important; align-items: center;">
    <div>
        <h1 class=" mx-3" style="color:white; text-decoration:none;font-size:xx-large; font-weight:bolder; margin-right:2rem !important;margin-left:2rem !important; font-style: italic;">NewsFlash</h1>
    </div>
    <h3 class="mx-3" style="margin-right:1rem !important">
        <a href="/" style="text-decoration:none; color:white; font-size:large; font-weight:bolder; border:1px solid white" class="btn btn-light">
            Home
        </a>
    </h3>
    <h3 class=" mx-3">
        <a href="#newssource" style="color:white; text-decoration:none;font-size:large; font-weight:bolder; border:1px solid white; " class="btn btn-light">
            News Sources
        </a>
    </h3>
</div>